<h3>Assignment 03</h3>
<ol>
  <li>Add A button which says 'Display Details'</li>
  <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
  <li>Toggle the displaying of that paragraph with the button created in the first step</li>
  <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
  <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
</ol>
<br>
<div class="form-group">
<button
  class="btn btn-primary"
  (click)="onDisplayDetails()">Display Details</button>
</div>
<p *ngIf="!displayDetails">Not displaying details.</p>
<p *ngIf="displayDetails">Secret password = "tuna"</p>
<p
  *ngFor="let log of logs; let i = index"
  [ngStyle]="{'background-color': getColor(i + 1)}"
  [ngClass]="{'white-text': i + 1 >= 5}">
  {{ log }}
</p>
