<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>App Status: {{ appStatus | async }}</h3>
      <hr>
      <div class="form-inline">
        <input
          type="text"
          class="form-control"
          placeholder="Status filter"
          [(ngModel)]="filteredStatus">
        <button
          class="btn btn-primary"
          style="margin-left: 10px;"
          type="button"
          (click)="onAddServer()">
          Add Server
        </button>
      </div>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:'status':filteredStatus | sort:'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:15 }}</strong> | 
          {{ server.instanceType | uppercase | reverse }} | 
          {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
